*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    padding: 5px;
    font-size: 32px;
    display: flex;
    border-radius: 50%;
    border: 2px solid gold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}