div{
    background-color: aquamarine;
    position: relative;
    width: 40px;
}

img{
    width: 40px;
}

span{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: blueviolet;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 50%;
}

.whats{
    width: 40px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.whats:hover{
    transform: scale();
}